* {
    font-family: metropolis;
    box-sizing: border-box;
}

@font-face {
    font-family: metropolis;
    src: url("fonts/Metropolis-Regular.otf");
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

label { 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div#EditingMenu {
    position: relative;
    left: 0;
    top: 0;
    height: 100vh;
    width: 20%;
    padding: 20px 0 20px 0;
    min-width: 320px;
    overflow-y: auto;
    background-color: #cccccc;
}

div#EditingMenu div#TexturePreviewBox {
    padding: 0 23px 0 23px;
    background: url('images/placeholders/tile.png') 50% 50% repeat;
}

div.renderAreaContainer {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.fadeIn {
    animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; transform: translate(-20px, 0) }
    to   { opacity: 1; transform: translate(0, 0) }
}